@charset "UTF-8";
/*Imagem do fundo e tirando a margin*/ 
body {
    margin: 0;
    padding: 0;  
    width: 100%;
    height: 100%;
    background-image: url(../IMG/fundo.png);
    background-size: cover; /* Faz a imagem cobrir toda a área */
  }
header{
    width: 1000px;
    height: 80px;
   /* background-color: aqua;*/
    display: flex;
    justify-content:space-between;
    margin: auto;
}
#titulo{
    width: 350px;
    height: 80px;
   /* background-color: black;*/
}
#titulo h1{
    margin-top: 50px;
    color: darkcyan;
    font-size: 10px;
    margin-left: 25px;
}
/* Sessão - Apresentação*/
#apresentacao{
    width: 1000px;
    height: 100%;
    background-color: aliceblue;
    margin: auto;
    border-radius: 15px;
}
#slide{
    width: 1000px;
    height: 350px;
    background-image: url(../IMG/slide.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
}
#fotoMinha{
    width: 200px;
    height: 250px;
    background-color: #002333;
    margin-left: 750px;
    margin-top: -210px;
    border-radius: 15px;
    box-shadow: 15px 15px 5px #024959;
}
#fotoMinha img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}
#info{
    width: 350px;
    height: 250px;
    /*background-color: #fff;*/
    margin-left: 80px;
}
#info h3{
    color: #002333;
}
#info h2{
    color: #002333;
    text-align: center;
    margin-top:60px ;
}
#sla{
    color: #002333;
    font-size: 10px;
   
}


/*parte sobre*/
#sobre{
    width: 1000px;
    height: 450px;
}
#sobre h1{
    color: #159A9C;
    margin-top: 100px;
    margin-left: 420px;
    font-size: 35px;
}

#sobre p{
    color: #002333;
    width: 750px;
    text-align: center;
    margin: auto;
}